<form action="" method="post" acet-charset="utf-8">
  <label for="user_word">word</label>
  <input type="text" name=user_word value="" id="user_word">
  <input type="submit"  value="submit" name="submit">
</form>

<form action="" method="post" acet-charset="utf-8">
  <label for="complete"></label>
  <input type="submit"  value="reset" name="reset" id="complete">
</form>

<% if @word_score_list %>
  <table>
    <th></th>

    <% @word_score_list.each do |word| %>

      <tr>
        <td class="score_tile">
          <span class="total_score"><%= word[1] %></span>
          <span class="score_word">score</span>
        </td>
        <td>

        <% word[0].each_char do |char| %>
        <% letter_score = Scrabble::Scoring.char_score(char)%>
        <section class = "tile">
          <span class="letter"><%= char.upcase %></span>
          <span class="letter_score"><%= letter_score %></span>
        </section>
        <!-- <section class-"score_tile">
        <span class="total_score"><%= word[1] %></span>
      </section> -->
        <% end %>
        </td>
      <tr>
    <% end %>

  </table>
<% end %>



<!-- <form action="" method="post" acet-charset="utf-8">
  <label for="user_word">word</label>
  <input type="text" name=user_word value="" id="user_word">
  <% @list ||= [] %>
  <% @list << @words if @list != nil %>
  <input type="hidden" name=<%= @list << @words if @list != nil %>  id="user_word" value=<% @words %> /><br />
  <input type="submit" name=<%= @list %>  value="submit" id="submit">

</form> -->

<!-- <form action="" method="post" acet-charset="utf-8">
  <input type="submit" name="<%= @words %>"  value="done" id="submit">
</form> -->
