<article class="layout">
<% @test=["Let's","Play", "Scrabble"] %>
<section class="score_page">
  <table class="home_table">
    <% @test.each do |word| %>
      <tr>
        <td class="row">
          <% word.each_char do |char| %>
            <% @letter_score = Scrabble::Scoring.char_score(char)%>
            <section class="tile">
              <span class="home_letter"><%= char.upcase %></span>
              <span class="letter_score"><%= @letter_score %></span>
            </section>
          <% end %>
        </td>
      <tr>
    <% end %>
  </table>
</section>
<section class="side_image"></section>

<section class="form">
<form action="" method="post" acet-charset="utf-8">
  <label class="form_label" for="user_word"></label>
  <input type="text" name=user_word value="Input Word Here" id="user_word">
  <input type="submit"  value="" name="submit" id="submit">
</form>

<% if @word %>
  <table>
      <tr>
        <td class="score_tile">
          <span class="total_score"><%= @score %></span>
          <span class="score_word">score</span>
        </td>
        <td>
          <% @word.each_char do |char| %>
            <% letter_score = Scrabble::Scoring.char_score(char)%>
            <section class = "tile">
              <span class="letter"><%= char.upcase %></span>
              <span class="letter_score"><%= letter_score %></span>
            </section>
          <% end %>
        </td>
      <tr>
  </table>
<% end %>
</section>
</article>
